@{
    ViewData["Title"] = "Ошибка";
}

<div class="inner-container-small">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card pading-10 margin-10">
                <h3 class="control-error-text center-align">@ViewBag.Title</h3>
            </div>
        </div>
    </div>
</div>