@{
    ViewBag.Title = "Продукты";
}

<div class="row card">
    <button class="tab-button" onclick="openTab(this, 'products-tab'); initProductsTable();">Продукты</button>
    <button class="tab-button" onclick="openTab(this, 'categories-tab'); initCategoriesTable();">Категории</button>
    <button class="tab-button" onclick="openTab(this, 'tags-tab'); initTagsTable();">Теги</button>
    <button class="tab-button" onclick="openTab(this, 'attributes-tab'); initAttributesTable();">Атрибуты</button>
</div>

<div id="products-tab" class="hidden tab card">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="horisontal-scrollable pading-10">
                <table id="product-table"></table>
                <div id="product-table-pagination"></div>
            </div>
        </div>
    </div>
</div>

<div id="categories-tab" class="hidden tab card">
    <div class="row">
        <div class="col s12 m12 l6">
            <div class="horisontal-scrollable pading-10">
                <table id="category-table"></table>
                <div id="category-table-pagination"></div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="horisontal-scrollable pading-10">
                <table id="product-category-table"></table>
                <div id="product-category-table-pagination"></div>
            </div>
        </div>
    </div>
</div>

<div id="tags-tab" class="hidden tab card">
    <div class="row">
        <div class="col s12 m12 l5">
            <div class="horisontal-scrollable pading-10">
                <table id="tag-table"></table>
                <div id="tag-table-pagination"></div>
            </div>
        </div>
        <div class="col s12 m12 l7">
            <div class="horisontal-scrollable pading-10">
                <table id="product-tag-table"></table>
                <div id="product-tag-table-pagination"></div>
            </div>
        </div>
    </div>
</div>

<div id="attributes-tab" class="hidden tab card">
    <div class="row">
        <div class="col s12 m12 l5">
            <div class="horisontal-scrollable pading-10">
                <table id="attribute-table"></table>
                <div id="attribute-table-pagination"></div>
            </div>
        </div>
        <div class="col s12 m12 l7">
            <div class="horisontal-scrollable pading-10">
                <table id="product-attribute-table"></table>
                <div id="product-attribute-table-pagination"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <environment names="Development">
            <script src="~/scripts/administration/product/index.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/scripts/administration/product/index.min.js"></script>
        </environment>
    }
}