@{
    ViewBag.Title = "Продукты";
}

<div class="row">
    <div class="col s12 m12 l12">
        <div class="horisontal-scrollable pading-10">
            <table id="product-table"></table>
            <div id="product-table-pagination"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <environment names="Development">
            <script src="~/scripts/administration/product/index.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/scripts/administration/product/index.min.js"></script>
        </environment>
    }
}