<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @await RenderSectionAsync("Meta", false).ConfigureAwait(false)
    <title>@ViewData["Title"] - Aklion CRM</title>
    @await Html.PartialAsync("_Styles").ConfigureAwait(false)
    @await RenderSectionAsync("Styles", false).ConfigureAwait(false)
</head>
<body>
<nav>
    <div class="container">
        @await Html.PartialAsync("_Menu").ConfigureAwait(false)
    </div>
</nav>
<div class="container">
    @RenderBody()
</div>
@await Html.PartialAsync("_Scripts").ConfigureAwait(false)
@await RenderSectionAsync("Scripts", false).ConfigureAwait(false)
</body>
</html>