@{
    ViewBag.Title = "Консоль администратора";
}

<h3>@ViewBag.Title</h3>
<div class="card">
    <p>Всего пользователей: 0</p>
    <p>Всего магазинов: 0</p>
    <p>Всего клиентов: 0</p>
    <p>Всего заказов: 0</p>
</div>