@using GameSite.Models.View.AccountViewModels
@model ChangePhoneViewModel
@{
    ViewData["Title"] = "Изменение номера телефона";
}

<div class="row">
    <div class="col s12">
        <div class="card">
            <h5>@ViewData["Title"]</h5>
            <form asp-controller="Account" asp-action="ChangePhone" method="post">
                <div class="input-field">
                    <input asp-for="Phone" />
                    <label asp-for="Phone" class="validate"></label>
                    <span asp-validation-for="Phone" class="error-text"></span>
                </div>
                <div class="input-field">
                    <button type="submit" class="btn">Изменить номер</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial").ConfigureAwait(false);
        await Html.RenderPartialAsync("_MaskedInputScriptsPartial").ConfigureAwait(false);
    }
}