@using GameSite.Models.View.AccountViewModels
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Восстановление доступа";
}

<div class="row">
    <div class="col l4 offset-l4 s12 m8 offset-m2">
        <div class="card">
            <h5>@ViewData["Title"]</h5>
            <form asp-controller="Account" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div class="input-field">
                    <input asp-for="Email"/>
                    <label asp-for="Email" class="validate"></label>
                    <span asp-validation-for="Email" class="error-text"></span>
                </div>
                <div class="input-field">
                    <button type="submit" class="btn">Восстановить</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial").ConfigureAwait(false); }
}