@{
    ViewData["Title"] = "Восстановление забытого пароля";
}

<div class="row">
    <div class="col s12">
        <div class="card">
            <h5>@ViewData["Title"]</h5>
            <p>Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль</p>
        </div>
    </div>
</div>