@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<div class="row">
    <div class="col s12">
        <div class="card">
            <h5>@ViewData["Title"]</h5>
            <p>Ваш пароль был сброшен. Пожалуйста кликните по <a asp-controller="Account" asp-action="Login">ссылке</a> для входа.</p>
        </div>
    </div>
</div>