@font-face {
    font-family: RobotoRegular;
    src: url("../../fonts/RobotoRegular/RobotoRegular.ttf");
}

@font-face {
    font-family: RobotoLight;
    src: url("../../fonts/RobotoLight/RobotoLight.ttf");
}

@font-face {
    font-family: RobotoMedium;
    src: url("../../fonts/RobotoMedium/RobotoMedium.ttf");
}

@font-face {
    font-family: RobotoBold;
    src: url("../../fonts/RobotoBold/RobotoBold.ttf");
}

body {
    font-family: RobotoRegular;
    margin: 0;
}

b { font-family: RobotoBold; }

ul#navbar {
    background-color: #263238;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

ul#navbar li { float: left; }

ul#navbar li a {
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

ul#navbar li a:hover { color: #FFFFFF; }