@{
    ViewBag.Title = "Права";
}

<div class="row">
    <div class="col s12 m12 l7">
        <div class="horisontal-scrollable pading-10">
            <table id="user-permission-table"></table>
            <div id="user-permission-table-pagination"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <environment names="Development">
            <script src="~/scripts/administration/permission/index.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/scripts/administration/permission/index.min.js"></script>
        </environment>
    }
}