@{
    ViewBag.Title = "Магазины";
}

<table id="jqGrid"></table>
<div id="jqGridPager"></div>

@section Scripts {
    @{
        <environment names="Development">
            <script src="~/scripts/stores/index.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/scripts/stores/index.min.js"></script>
        </environment>
    }
}