@{
    ViewBag.Title = "Магазины";
}

<div class="card-panel">
    <h5>@ViewBag.Title</h5>
    <div id="stores" class="scrollable"></div>
</div>

@section Scripts {
    @{
        <environment names="Development">
            <script src="~/scripts/stores/index.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/scripts/stores/index.min.js"></script>
        </environment>
    }
}
