@using Aklion.Infrastructure.Utils.DateTime
@{
    ViewBag.Title = "Магазины";
}

<h1>@ViewBag.Title</h1>
<a href="#" class="modal-trigger ui-button btn" data-modal-id="add-store-modal">Добавить</a>
<a href="#" class="modal-trigger ui-button btn" data-modal-id="add-store-modal">Выгрузить в Excel</a>
<br>
<br>

<table id="jqGrid"></table>
<div id="jqGridPager"></div>

@section Scripts {
    @{
        <environment names="Development">
            <script src="~/scripts/stores/index.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/scripts/stores/index.min.js"></script>
        </environment>
    }
}