@model List<Aklion.Crm.Models.Stores.Store>

<table>
    <thead class="center-align">
        <tr>
            <td width="5%">№</td>
            <td width="40%">Название</td>
            <td width="10%">АПИ-ключ</td>
            <td width="15%">АПИ-секрет</td>
            <td width="5%">Заблокирован</td>
            <td width="5%">Скрыт</td>
            <td width="7.5%">Дата/время создания</td>
            <td width="7.5%">Дата/время изменения</td>
            <td width="2.5%"></td>
            <td width="2.5%"></td>
        </tr>
    </thead>
    <tbody>
    @foreach (var store in Model)
    {
        @Html.Partial("Partials/Store", store)
    }
    </tbody>
</table>