@{
    ViewData["Title"] = "Главная";
}

<p>Привет, мир!</p>
<ul id="organizations"></ul>

@section Scripts {
    @{
        <environment names="Development">
            <script src="~/scripts/organizations/index.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/scripts/organizations/index.min.js"></script>
        </environment>
    }
}