<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="AsyncWrapper">
      <target
        xsi:type="File"
        fileName="C:/Logs/${logger} ${shortdate}.log"
        encoding="UTF-8"
        layout="{&quot;TimeStamp&quot;:&quot;${longdate}&quot;,&quot;Level&quot;:&quot;${level}&quot;${message}}"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>