@{
    ViewBag.UserName = "Усман";
}

<div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="fa fa-bars"></i>
    </a>

    <ul class="left hide-on-med-and-down">
        <li>
            <a asp-controller="Stores" asp-action="Index">Магазины</a>
        </li>
    </ul>
    

    

    <ul id="dropdown-account" class="dropdown-content">
        <li>
            <a id="my-account-link">Профиль</a>
        </li>
        <li>
            <a id="logout-link">Выйти</a>
        </li>
    </ul>

    <ul class="right left hide-on-med-and-down">
        <li>
            <a class="dropdown-button" data-activates="dropdown-account" data-beloworigin="true">
                <img src="https://vk.com/images/deactivated_hid_200.gif" class="circle" alt="">
                <span>@ViewBag.UserName</span>
                <i class="fa fa-caret-down right nav-icon"></i>
            </a>
        </li>
    </ul>
    <div class="input-field right">
            <input id="search" type="search" name="Nik" placeholder="Найти">
            <label class="label-icon" for="search">
                <i class="fa fa-search nav-icon"></i>
            </label>
    </div>
</div>