<div class="navbar" id="navbar">
    <a class="mobile-menu-link left" id="mobile-menu-link">
        <span>&#9776;</span>
    </a>

    <a class="avatar-link right" id="dropdown-menu-link">
        Усман
        <img src="https://pp.userapi.com/c615719/v615719487/19933/i9HJ4ED64ZM.jpg" alt="Аватар"/>
        <i class="fa fa-caret-down"></i>
    </a>

    <div class="dropdown-content shadow" id="dropdown-menu-content">
        <a>Мой профиль</a>
        <div class="separator"></div>
        <a>Выйти</a>
    </div>
    
    <a asp-controller="AdministrationConsole" asp-action="Index" class="link left">
        <i class="fa fa-dashboard"></i>
    </a>

    <a asp-controller="AdministrationUser" asp-action="Index" class="link left">
        Пользователи
    </a>

    <a asp-controller="AdministrationStore" asp-action="Index" class="link left">
        Магазины
    </a>
    
    <a asp-controller="AdministrationPost" asp-action="Index" class="link left">
        Должности
    </a>
    
    <a asp-controller="AdministrationPermission" asp-action="Index" class="link left">
        Права
    </a>
    
    <a asp-controller="AdministrationProduct" asp-action="Index" class="link left">
        Продукты
    </a>

    <a asp-controller="AdministrationUser" asp-action="Index" class="link left">
        Клиенты
    </a>

    <a asp-controller="AdministrationUser" asp-action="Index" class="link left">
        Заказы
    </a>
</div>