@using Aklion.Crm.Enums
<div class="navbar" id="navbar">
    <a class="mobile-menu-link left" id="mobile-menu-link">
        <span>&#9776;</span>
    </a>

    @if (ViewBag.IsUserContextInitialized)
    {
        if (ViewBag.UserContext.Permissions.Contains(Permission.Admin))
        {
            <a asp-controller="AdministrationConsole" asp-action="Index" class="link left">
                <i class="fa fa-dashboard"></i>
            </a>

            <a asp-controller="AdministrationUser" asp-action="Index" class="link left">
                Пользователи
            </a>

            <a asp-controller="AdministrationStore" asp-action="Index" class="link left">
                Магазины
            </a>

            <a asp-controller="AdministrationProduct" asp-action="Index" class="link left">
                Продукты
            </a>

            <a asp-controller="AdministrationClient" asp-action="Index" class="link left">
                Клиенты
            </a>

            <a asp-controller="AdministrationOrder" asp-action="Index" class="link left">
                Заказы
            </a>
        }
        else
        {
            <a asp-controller="Console" asp-action="Index" class="link left">
                <i class="fa fa-dashboard"></i>
            </a>

            <a asp-controller="User" asp-action="Index" class="link left">
                Пользователи
            </a>

            <a asp-controller="Store" asp-action="Index" class="link left">
                Магазины
            </a>

            <a asp-controller="Product" asp-action="Index" class="link left">
                Продукты
            </a>

            <a asp-controller="User" asp-action="Index" class="link left">
                Клиенты
            </a>

            <a asp-controller="User" asp-action="Index" class="link left">
                Заказы
            </a>
        }

        <a class="avatar-link right" id="dropdown-menu-link">
            <span>@ViewBag.UserContext.UserLogin</span>
            <img src="/images/avatars/no-avatar.png" alt="Аватар" />
            <i class="fa fa-caret-down"></i>
        </a>

        <div class="dropdown-content shadow" id="dropdown-menu-content">
            <a asp-controller="Account" asp-action="Index">Мой профиль</a>
            <div class="separator"></div>
            <div id="avialable-stores"></div>
            <div class="separator"></div>
            <form asp-controller="Account" asp-action="LogOff" method="post">
                <button type="submit">Выйти</button>
            </form>
        </div>
    }
    else
    {
        <a class="link right" asp-controller="Account" asp-action="LogIn">Войти</a>
        <a class="link right" asp-controller="Account" asp-action="Register">Регистрация</a>
    }
</div>