/*Body*/
body {
    background: #edeef0;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
    margin: 0;
}

/*Headers*/
h1, h2, h3, h4, h5, h6 {
    color: #2a5885;
    font-weight: normal;
}

/*Container*/

.container {
    padding-left: 1%;
    padding-right: 1%;
}

.inner-container-small {
    max-width: 480px;
}

@media screen and (min-width: 992px) {
    .inner-container {
        width: 75%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .inner-container-small {
        width: 35%;
        margin-left: 35%;
        margin-right: 35%;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .inner-container-small {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media screen and (max-width: 600px) {
    .navbar a.mobile-menu-link {
        display: block;
    }

    .navbar a.link {
        display: none;
    }

    .navbar.responsive a.link {
        display: inline-block;
        float: none;
        width: 100%;
    }
}

/*Nav*/
nav {
    background-color: #507299;
    height: 42px;
}

.navbar {
    font-size: 0.8em;
    overflow: hidden;
}

.navbar a {
    color: #ffffff;
    cursor: pointer;
    padding: 12px 8px;
    text-decoration: none;
}

.navbar a:hover { background-color: #486991; }

.navbar a.avatar-link {
    align-items: center;
    display: flex;
    padding: 5px 12px;
}

.navbar a.avatar-link img {
    border-radius: 16px;
    margin: 0 10px;
    width: 32px;
}

@media screen and (min-width: 600px) {
    .navbar a.mobile-menu-link { display: none; }
}

@media screen and (max-width: 600px) {
    .navbar a.mobile-menu-link { display: block; }

    .navbar a.link { display: none; }

    .navbar.responsive a.link {
        display: inline-block;
        float: none;
        width: 100%;
    }
}

.dropdown-content {
    background-color: #ffffff;
    display: none;
    min-width: 160px;
    position: absolute;
    top: 43px;
    z-index: 999;
    right: 1%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

    .dropdown-content a, .dropdown-content button {
        color: #2a5885;
        display: block;
        float: none;
        padding: 12px;
        background: transparent;
        border: none;
        width: 100%;
        text-align: left;
    }

        .dropdown-content a:hover, .dropdown-content button:hover {
            background-color: #e4eaf0;
            cursor: pointer;
        }

/*Common*/

.hidden {
    display: none;
}

.left { float: left; }

.right { float: right; }

.left-align {
    text-align: left;
}

.right-align {
    text-align: right; 
}

.center-align {
    text-align: center;
}

.card {
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-top: 10px;
}

.shadow {
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.separator {
    margin: 0 10px;
    border-top: 1px solid #dbe4ec;
}

.horisontal-scrollable {
    overflow-x: auto;
}

.pading-0 {
    padding: 0;
}

.pading-5 {
    padding: 5px;
}

.pading-10 {
    padding: 10px;    
}

.pading-left-20 {
    padding-left: 20px;
}

.margin-10 {
    margin: 10px;
}

.margin-0 {
    margin: 0;
}

input, select {
    outline: none;
    border-radius: 2px !important;
    background: #ffffff !important;
}

a.text-link {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 0.9em;
    text-decoration: none;
    color: #2a5885;
}

a.text-link:hover {
        text-decoration: #2a5885 underline;
    }
a:focus, button:focus {
    outline: none; 
}

button.tab-button {
    color: #2a5885;
    background: transparent;
    cursor: pointer;
    padding: 5px;
    border: none;
    border-bottom: 2px solid transparent;
}

button.tab-button:hover {
    border-bottom: 2px solid #cad2db;
}

button.tab-button.active {
    border-bottom: 2px solid #6387ac;
}

input[type=checkbox]:after {
    content: " ";
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    display: inline-block;
    border: 1px solid #dbe4ec !important;
}

input[type=checkbox]:checked:after {
    content: "\2714";
    line-height: 11px;
    text-align: center;
}

input:enabled[type=checkbox], select:enabled, input:enabled.hasDatepicker, option {
    cursor: pointer;
}

select[searchopermenu="true"] {
    width: 100%;
}

input[type="file"] {
    width: 100%;
}

.responsible-image {
    width: 100%;    
}

.label {
    color: #828282;
}

.message {
    display: inline;
    background: #507245;
    padding: 6px;
    position: absolute;
    font-size: 0.8em;
    color: white;
    z-index: 999;
    border-radius: 12px;
}

/*Jqgrid*/
.ui-search-clear {
    display: none;
}

.ui-widget {
    background: #ffffff;
    border-radius: 2px;
    border: none !important;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.ui-widget-header {
    background: #507299;
    color: #ffffff;
    border-radius: 2px;
}

.ui-widget-content {
    background: #ffffff;
}

td.ui-state-default, a.ui-state-default, .ui-jqgrid-hdiv {
    border: 1px solid #dbe4ec !important;
}

.ui-state-default, td[role="gridcell"] {   
    border-right: 1px solid #dbe4ec !important;
}

.ui-button.ui-state-disabled {
    border: 1px solid #dbe4ec;
    background: #ffffff;
}

.ui-jqgrid-hdiv {
    border: 1px solid #dbe4ec;
}

.ui-th-ltr {
    border-bottom: none !important;
}

.ui-datepicker {
    padding: 4px;
    width: 200px;
    font-size: 0.8em;
}

.ui-jqgrid-titlebar, .ui-jqdialog-titlebar {
    padding-bottom: 5px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 10px !important;
}

.ui-state-highlight {
    color: #000000 !important;
}

.ui-state-active {
    color: #000000 !important;
    border: 1px solid #dad55e !important;
    background: #fffa90 !important;
}

.loading {
    background: #507299 !important;
    display: block;
    border: none !important;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.ViewTable {
    table-layout: auto;
    width: min-content !important;
}

.ui-autocomplete {
    z-index: 1000 !important;
    font-size: 0.8em;
}

.ui-search-input input, .ui-search-input select {
    padding: 2px 3px !important;
    width: 100% !important;
}

.ui-jqgrid .ui-jqgrid-htable th {
    height: 20px !important;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    margin: 0;
}

.ui-jqgrid tr.jqgrow td, .ui-jqdialog-content .form-view-data {
    white-space: nowrap;
}

button.cell-button {
    border: 1px solid #dbe4ec;
    border-radius: 2px;
    cursor: pointer;
}

button.cell-button {
    border: 1px solid #dbe4ec;
    border-radius: 2px;
    cursor: pointer;
}

.EditTable td.form-view-data {
    display: flex;
}

/* Grid */
.row {
    display: flex;
    flex-flow: row wrap;
}

.col {
    width: 100%;
}

/*S*/
@media only screen and (max-width: 600px) {
    .col.s1 {
        width: 8.33%;
    }

    .col.s2 {
        width: 16.67%;
    }

    .col.s3 {
        width: 25%;
    }

    .col.s4 {
        width: 33.33%;
    }

    .col.s5 {
        width: 41.67%;
    }

    .col.s6 {
        width: 50%;
    }

    .col.s7 {
        width: 58.33%;
    }

    .col.s8 {
        width: 66.67%;
    }

    .col.s9 {
        width: 75%;
    }

    .col.s10 {
        width: 83.33%;
    }

    .col.s11 {
        width: 91.67%;
    }

    .col.s12 {
        width: 100%;
    }
}

/*M*/
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .col.m1 {
        width: 8.33%;
    }

    .col.m2 {
        width: 16.67%;
    }

    .col.m3 {
        width: 25%;
    }

    .col.m4 {
        width: 33.33%;
    }

    .col.m5 {
        width: 41.67%;
    }

    .col.m6 {
        width: 50%;
    }

    .col.m7 {
        width: 58.33%;
    }

    .col.m8 {
        width: 66.67%;
    }

    .col.m9 {
        width: 75%;
    }

    .col.m10 {
        width: 83.33%;
    }

    .col.m11 {
        width: 91.67%;
    }

    .col.m12 {
        width: 100%;
    }
}

/*L*/
@media only screen and (min-width: 993px) {
    .col.l1 {
        width: 8.33%;
    }

    .col.l2 {
        width: 16.67%;
    }

    .col.l3 {
        width: 25%;
    }

    .col.l4 {
        width: 33.33%;
    }

    .col.l5 {
        width: 41.67%;
    }

    .col.l6 {
        width: 50%;
    }

    .col.l7 {
        width: 58.33%;
    }

    .col.l8 {
        width: 66.67%;
    }

    .col.l9 {
        width: 75%;
    }

    .col.l10 {
        width: 83.33%;
    }

    .col.l11 {
        width: 91.67%;
    }

    .col.l12 {
        width: 100%;
    }
}

td[id$="table-pagination_center"] {
    width: auto !important;
}

/*Material*/

/*.button-container {
    text-align: center;
}*/

/*fieldset {
    margin: 0 0 3rem;
    padding: 0;
    border: none;
}*/

.form-radio,
.form-group {
    position: relative;
    margin-top: 2.25rem;
}

.form-inline > .form-group,
.form-inline > .btn {
    display: inline-block;
    margin-bottom: 0;
}

.form-help {
    margin-top: 0.125rem;
    margin-left: 0.125rem;
    color: #b3b3b3;
    font-size: 0.8rem;
}

.checkbox .form-help, .form-radio .form-help, .form-group .form-help {
    position: absolute;
    width: 100%;
}

.checkbox .form-help {
    position: relative;
    margin-bottom: 1rem;
}

.form-radio .form-help {
    padding-top: 0.25rem;
    margin-top: -1rem;
}

.form-group input {
    height: 1.9rem;
}

.form-group textarea {
    resize: none;
}

.form-group select {
    width: 100%;
    font-size: 1rem;
    height: 1.6rem;
    padding: 0.125rem 0.125rem 0.0625rem;
    background: none;
    border: none;
    line-height: 1.6;
    box-shadow: none;
}

.form-group .control-label {
    position: absolute;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
}

.form-group .bar {
    position: relative;
    border-bottom: 0.0625rem solid #999;
    display: block;
}

    .form-group .bar::before {
        content: '';
        height: 0.125rem;
        width: 0;
        left: 50%;
        bottom: -0.0625rem;
        position: absolute;
        background: #337ab7;
        -webkit-transition: left 0.28s ease, width 0.28s ease;
        transition: left 0.28s ease, width 0.28s ease;
        z-index: 2;
    }

.form-group input,
.form-group textarea {
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
}

    .form-group input[type="file"] {
        line-height: 1;
    }

        .form-group input[type="file"] ~ .bar {
            display: none;
        }

    .form-group select,
    .form-group input:focus,
    .form-group input:valid,
    .form-group input.form-file,
    .form-group input.has-value,
    .form-group textarea:focus,
    .form-group textarea:valid,
    .form-group textarea.form-file,
    .form-group textarea.has-value {
        color: #333;
    }

        .form-group select ~ .control-label,
        .form-group input:focus ~ .control-label,
        .form-group input:valid ~ .control-label,
        .form-group input.form-file ~ .control-label,
        .form-group input.has-value ~ .control-label,
        .form-group textarea:focus ~ .control-label,
        .form-group textarea:valid ~ .control-label,
        .form-group textarea.form-file ~ .control-label,
        .form-group textarea.has-value ~ .control-label {
            font-size: 0.8rem;
            color: gray;
            top: -1rem;
            left: 0;
        }

        .form-group select:focus,
        .form-group input:focus,
        .form-group textarea:focus {
            outline: none;
        }

            .form-group select:focus ~ .control-label,
            .form-group input:focus ~ .control-label,
            .form-group textarea:focus ~ .control-label {
                color: #337ab7;
            }

            .form-group select:focus ~ .bar::before,
            .form-group input:focus ~ .bar::before,
            .form-group textarea:focus ~ .bar::before {
                width: 100%;
                left: 0;
            }

.checkbox label,
.form-radio label {
    position: relative;
    cursor: pointer;
    padding-left: 2rem;
    text-align: left;
    color: #333;
    display: block;
}

.checkbox input,
.form-radio input {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
}

.form-view-data span {
    text-align: left !important;
}

.radio {
    margin-bottom: 1rem;
}

    .radio .helper {
        position: absolute;
        top: -0.25rem;
        left: -0.25rem;
        cursor: pointer;
        display: block;
        font-size: 1rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #999;
    }

        .radio .helper::before, .radio .helper::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 0.25rem;
            width: 1rem;
            height: 1rem;
            -webkit-transition: -webkit-transform 0.28s ease;
            transition: -webkit-transform 0.28s ease;
            transition: transform 0.28s ease;
            transition: transform 0.28s ease, -webkit-transform 0.28s ease;
            border-radius: 50%;
            border: 0.125rem solid currentColor;
        }

        .radio .helper::after {
            -webkit-transform: scale(0);
            transform: scale(0);
            background-color: #507299;
            border-color: #507299;
        }

    .radio label:hover .helper {
        color: #507299;
    }

    .radio input:checked ~ .helper::after {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    .radio input:checked ~ .helper::before {
        color: #507299;
    }

.checkbox {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

    .checkbox .helper {
        color: #999;
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        z-index: 0;
        border: 0.125rem solid currentColor;
        border-radius: 0.0625rem;
        -webkit-transition: border-color 0.28s ease;
        transition: border-color 0.28s ease;
    }

        .checkbox .helper::before, .checkbox .helper::after {
            position: absolute;
            height: 0;
            width: 0.2rem;
            background-color: #507299;
            display: block;
            -webkit-transform-origin: left top;
            transform-origin: left top;
            border-radius: 0.25rem;
            content: '';
            -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
            transition: opacity 0.28s ease, height 0s linear 0.28s;
            opacity: 0;
        }

        .checkbox .helper::before {
            top: 0.65rem;
            left: 0.38rem;
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
            box-shadow: 0 0 0 0.0625rem #fff;
        }

        .checkbox .helper::after {
            top: 0.3rem;
            left: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

    .checkbox label:hover .helper {
        color: #507299;
    }

    .checkbox input:checked ~ .helper {
        color: #507299;
    }

        .checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
            opacity: 1;
            -webkit-transition: height 0.28s ease;
            transition: height 0.28s ease;
        }

        .checkbox input:checked ~ .helper::after {
            height: 0.5rem;
        }

        .checkbox input:checked ~ .helper::before {
            height: 1.2rem;
            -webkit-transition-delay: 0.28s;
            transition-delay: 0.28s;
        }

    .radio + .radio,
    .checkbox + .checkbox {
        margin-top: 1rem;
    }

.has-error .legend.legend, .has-error.form-group .control-label.control-label {
    color: #d9534f;
}

.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
    color: #d9534f;
}

.has-error .bar::before {
    background: #d9534f;
    left: 0;
    width: 100%;
}

.control-error-text {
    color: #d9534f;
}

.button {
    background: #507299;
    min-width: 100px;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.button span {
    color: #fff;
}

.button:hover {
    background: #486991;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.validation-summary-errors ul {
    list-style-type: none;
    padding-left: 0;
}

#avialable-stores ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}