@{
    ViewBag.Title = "Продукты";
}

<div class="row card">
    <button class="tab-button" onclick="openTab(this, 'products-tab'); initProductsTable();">@ViewBag.Title</button>
    <button class="tab-button" onclick="openTab(this, 'attributes-tab'); initAttributesTable();">Атрибуты</button>
    <button class="tab-button" onclick="openTab(this, 'others-tab'); initOthersTable();">Прочее</button>
</div>

<div id="products-tab" class="hidden tab card">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="horisontal-scrollable pading-10">
                <table id="products-table"></table>
                <div id="products-table-pagination"></div>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="horisontal-scrollable pading-10">
                <table id="products-attributes-table"></table>
                <div id="products-attributes-table-pagination"></div>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="horisontal-scrollable pading-10">
                <table id="products-images-table"></table>
                <div id="products-images-table-pagination"></div>
            </div>
        </div>
    </div>
</div>

<div id="attributes-tab" class="hidden tab card">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="horisontal-scrollable pading-10">
                <table id="attributes-table"></table>
                <div id="attributes-table-pagination"></div>
            </div>
        </div>
    </div>
</div>

<div id="others-tab" class="hidden tab card">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="horisontal-scrollable pading-10">
                <table id="products-statuses-table"></table>
                <div id="products-statuses-table-pagination"></div>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="horisontal-scrollable pading-10">
                <table id="images-table"></table>
                <div id="images-table-pagination"></div>
            </div>
        </div>
    </div>
</div>

<div id="load-image-dialog" class="dialog hidden" title="Загрузка изображения">
    <div class="col s12 m12 l12">
        <form asp-controller="ProductImageKeyLinks" asp-action="LoadImage" method="post" enctype="multipart/form-data">
            <input type="hidden" id="product-id" name="Id" />
            <input type="file" name="ImageFile" accept="image/*" required="required" aria-required="true" class="cell-button">
            <br />
            <br />
            <button type="submit" class="fm-button ui-state-default ui-corner-all pading-5 right" style="height: auto; font-size: 11px;">
                <i class="fa fa-upload"></i>
                Загрузить
            </button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <environment names="Development">
            <script src="~/scripts/administration/product/index.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/scripts/administration/product/index.min.js"></script>
        </environment>
    }
}