@using Crm.Enums
@model Crm.Models.Account.RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="inner-container-small">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card pading-10 margin-10">
                <h3>@ViewBag.Title</h3>
                <div class="separator"></div>
                <form asp-controller="Account" asp-action="Register" method="post">
                    <div class="form-group">
                        <input asp-for="Login" required="required" />
                        <label asp-for="Login" class="control-label"></label><i class="bar"></i>
                        <span asp-validation-for="Login" class="control-error-text"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" required="required" />
                        <label asp-for="Password" class="control-label"></label><i class="bar"></i>
                        <span asp-validation-for="Password" class="control-error-text"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ConfirmPassword" required="required" />
                        <label asp-for="ConfirmPassword" class="control-label"></label><i class="bar"></i>
                        <span asp-validation-for="ConfirmPassword" class="control-error-text"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" required="required" />
                        <label asp-for="Email" class="control-label"></label><i class="bar"></i>
                        <span asp-validation-for="Email" class="control-error-text"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Phone" required="required" />
                        <label asp-for="Phone" class="control-label"></label><i class="bar"></i>
                        <span asp-validation-for="Phone" class="control-error-text"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="StoreName" required="required" />
                        <label asp-for="StoreName" class="control-label"></label><i class="bar"></i>
                        <span asp-validation-for="StoreName" class="control-error-text"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Surname" required="required" />
                        <label asp-for="Surname" class="control-label"></label><i class="bar"></i>
                        <span asp-validation-for="Surname" class="control-error-text"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Name" required="required" />
                        <label asp-for="Name" class="control-label"></label><i class="bar"></i>
                        <span asp-validation-for="Name" class="control-error-text"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Patronymic" required="required" />
                        <label asp-for="Patronymic" class="control-label"></label><i class="bar"></i>
                        <span asp-validation-for="Patronymic" class="control-error-text"></span>
                    </div>
                    <div class="form-group">
                        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                        <label asp-for="Gender" class="control-label"></label><i class="bar"></i>
                    </div>
                    <div class="form-group">
                        <input asp-for="BirthDate" class="datepicker" required="required" />
                        <label asp-for="BirthDate" class="control-label"></label><i class="bar"></i>
                        <span asp-validation-for="BirthDate" class="control-error-text"></span>
                    </div>
                    <div class="right-align form-group">
                        <button class="button" type="submit">Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>