@{
    ViewBag.Title = "Магазины";
}

<div class="horisontal-scrollable pading-10">
    <table id="stores-table"></table>
    <div id="stores-table-pagination"></div>
</div>

<div class="horisontal-scrollable pading-10">
    <table id="post-table"></table>
    <div id="post-table-pagination"></div>
</div>

@section Scripts {
    @{
        <environment names="Development">
            <script src="~/scripts/administration/store/index.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/scripts/administration/store/index.min.js"></script>
        </environment>
    }
}